{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Login{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span9 well" style="min-height:302px">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Connectez Vous</h4></li>
                    <li class="pull-right"></li>
                </ul>
                
                        <form action="/inscription/verifylogin" method="POST" class="span8 well offset2" style="background-color: rgb(250, 250, 250)">
                            <div class="login">
                                {{ validation_errors() }}
                            </div>
                            <div class="offset1">
                                <label for="Nom utilisateur"><strong>Nom d'utilisateur</strong></label> 
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-user"></i></span>
                                    <input type="text" class="input-xlarge" name="login" class="input-xlarge" placeholder="Votre Nom d'utilisateur" value ="{% if app.request.cookies.has('cookiemail') %} {{app.request.cookies('cookiemail')}} {% endif%}"/>                       
                                </div>
                            </div>

                            <div class="offset1">
                                <!-- Password-->
                                <label for="Mot de passe"><strong>Mot de passe</strong></label>
                         
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-lock"></i></span>
                                        <input type="password" id="pwd" name="pwd" class="input-xlarge" placeholder="Votre Mot de Passe" value ="{% if app.request.cookies.has('cookiepass') %} {{app.request.cookies('cookiepass')}} {% endif%}"/>
                                    </div>
                                    <p class="offset5"><a href="forgotpwd/mail">Mot de passe oublier ?</a></p>
                          
                            </div>
                            <div class="span9 offset1">
                                <!-- Button -->
                                    <button class="btn btn-inverse btn-block">Se connecter</button> 
                                    <p class="text-center">Ou Bien</p>
                                    <a href="/inscription/login/loginfb" class="btn btn-primary btn-block"><img src="{{base_url()}}/assets/img/fb.png"/>Login avec facebook</a>
                              
                            </div>
                    </form>
                </div>
                <div class="span3">
                      {% block slider2 %}{{parent()}}{% endblock slider2 %}
                 </div>
            </div>
        </div>   
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}
