{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Mot de passe oublier{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                   <ul class="nav nav-pills border">
                        <li class="pull-left"><h4>Entrez votre email</h4></li>
                    </ul>
                <form action="verifmail" method="POST" class="form-horizontal">
                    <fieldset>
                            <div class="login offset2">
                                {{ validation_errors() }}
                              </div>
                            <div class="control-group offset2">
                                <label class="control-label" for="email">E-mail</label>
                                <div class="controls">
                                    <input type="email" name="email" placeholder="Votre E-mail" class="input-xlarge" value="{{ setvalue.email }}">
                                    <div class="error">
                                        {{ form_error('email') }}         
                                    </div>
                                </div>
                            </div>
                             <div class="control-group offset2">
                                <!-- Button -->
                                <div class="controls">
                                    <button class="btn btn-inverse">Confirmer</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
               </div>
        </div>
         
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}