{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Changer Mot de Passe{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                   <ul class="nav nav-pills border">
                        <li class="pull-left"><h4>Modifier Votre Mot de Passe</h4></li>
                    </ul>
                <form action="/inscription/gestionprofil/updatepwd" method="POST" class="form-horizontal">
                      <div class="span8 well offset2" style="background-color: rgb(250, 250, 250)">
                            {#---Mot de Passe---#}
                            <div class="control-group">
                                <label class="control-label" for="pwd">Mot de Passe courant <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="password" name="currpwd" placeholder="Votre Mot de Passe" class="input-xlarge">
                                    <div class="error">
                                        {{ form_error('currpwd') }}         
                                    </div>
                                </div>
                            </div>
                            
                           {#---Nouveau Mot de Passe---#}
                            <div class="control-group">
                                <label class="control-label" for="newpwd">Nouveau Mot de Passe <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="password" name="newpwd" placeholder="Votre Mot de Passe" class="input-xlarge">
                                    <div class="error">
                                        {{ form_error('newpwd') }}         
                                    </div>
                                </div>
                            </div>
                            
                            {#---Confirmatino Mot de Passe---#}
                            <div class="control-group">
                                <label class="control-label" for="confpwd">Confirmer votre Mot de Passe (Confirmation) <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="password" name="confpwd" placeholder="Confirmer Votre Mot de Passe" class="input-xlarge">
                                    <div class="error">
                                        {{ form_error('confpwd') }}         
                                    </div>
                                </div>
                            </div>

                            {#---Valider---#}
                            <div class="control-group offset2">
                                <div class="controls">
                                    <button type="submit" name="submit" class="btn btn-inverse">Valider</button>
                                    <button type="reset" name="annuler" class="btn btn-inverse">Annuler</button>
                                </div>
                            </div>
                          </div>
                </form>
            </div>
        </div>
         
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}
