{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Modifier Produit{% endblock title %}

{% block container %}
    <div class="row">
        {% block menuVertical%}{% endblock menuVertical%}
        {% block content %}
        <div class="span12">
            <div class="well">
                <div class="span11">
                     <div class="row">
                        <ul class="nav nav-pills" style="border-bottom: 1px solid #cccccc">
                            <li class="pull-left"><h4>Modifier un produit</h4></li>
                            <li class="pull-right"><a href="/annonce/annonce">Gestion des annonces</a></li>
                            <li class="pull-right"><a href="/produit/produit">Gestion des produits</a></li> 
                        </ul>
                     </div>
                </div>
                <form action="/produit/produit/updateproduct/{{active}}/{{namephoto}}/{{ id }}/{{ idsouscat }}/{{ idsoussouscat }}/{{idcat}}/{{dateajout}}" method="POST" class="form-horizontal offset2" enctype="multipart/form-data">
                    <fieldset>
                         
                           {#---Photo---#}
                            <div class="control-group">
                                <label class="control-label" for="photo" >Photo <span class="required">*</span></label>
                                <div class="controls">
                                    <img src="{{ photo }}" class="img-polaroid span3"  alt ="photo" height="195" style="margin-left: 0px;">                              
                                </div>
                            </div>
                        
                           {#---Categorie---#}
                            <div id="categorieplace" class="control-group">
                                <label class="control-label" for="cat" >Catégorie <span class="required">*</span></label>
                                <div class="controls">
                                    
                                    <select id="catselect" name="cat">
                                        <option selected="selected"></option>
                                        {% for row in categorie.result_array() %}
                                             <option data-id ="{{ row.idcategorie }}" value="{{ row.idcategorie }}" >
                                               {{ row.titre }}</option>
                                                    {% endfor %}
                                    </select>  
                                     <div class="error">
                                        {{ form_error('cat') }}         
                                    </div>
                                </div>
                            </div> 
                        
                            {#---Libelle---#}
                            <div class="control-group">
                                <label class="control-label" for="libelle">Libelle <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="libelle" placeholder="Libelle" class="input-xlarge" value="{{ libelle }}" >
                                    <div class="error">
                                        {{ form_error('libelle') }}         
                                    </div>
                                </div>
                            </div>
                            
                            {#---Stock---#}
                            <div class="control-group">
                                <label class="control-label" for="stock" >Stock <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="stock" placeholder="Le stock" class="input-xlarge" value="{{ stock }}">
                                    <div class="error">
                                        {{ form_error('stock') }}         
                                    </div>
                                </div>
                            </div>
                            
                            {#---Description---#}
                            <div class="control-group">
                                <label class="control-label" for="description" >Description <span class="required">*</span></label>
                                <div class="controls">
                                  <textarea rows="3" name="description" placeholder="Description" class="input-xlarge"> {{ description }} </textarea>
                                    <div class="error">
                                        {{ form_error('description') }}         
                                    </div>
                                </div>
                            </div>
                            
                             {#---Prix---#}
                            <div class="control-group">
                                <label class="control-label" for="prix" >Prix <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="prix" placeholder="Le prix" class="input-xlarge" value="{{ prix }}">
                                    <div class="error">
                                        {{ form_error('prix') }}         
                                    </div>
                                </div>
                            </div> 
                        
                            {#---Remise---#}
                            <div class="control-group">
                                <label class="control-label" for="remise" >Remise <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="remise" placeholder="Remise" class="input-xlarge" value="{{ remise }}">
                                    <div class="error">
                                        {{ form_error('remise') }}         
                                    </div>
                                </div>
                            </div>
                            
                            {#---Photo---#}
                            <div class="control-group">
                                <label class="control-label" for="userfile" >Photo <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="file" name="userfile" size="20" />
                                  
                                </div>
                            </div>
                        
                            {#---Valider---#}
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" name="submit" class="btn btn-info">Valider</button>
                                    <button type="reset" name="annuler" class="btn btn-info">Annuler</button>
                                </div>
                            </div>
                    </fieldset>
                </form>
            </div>
        </div>
        {% endblock content %}
     </div>
     {% block partenaires %} {{parent()}} {% endblock partenaires %}
{% endblock container %}
{% block js %} 
    {#---js catégorie---#}
    <script type="text/javascript" src="{{base_url()}}assets/js/categorie.js"></script>
 {% endblock js %} 