{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Ajouter Produit{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                   <ul class="nav nav-pills border">
                        <li class="pull-left"><h4>Ajouter Un Produit</h4></li>
                        <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion Commerçant<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/produit/produit">Gestion des produits</a></li>
                            <li><a href="/annonce/annonce">Gestion des annonces</a</li>
                            <li><a href="/produit/produit/slider">Gestion Slider</a></li>
                        </ul>
                    </li>
                    <li class="pull-right"><a href="/statistique/Statistique/statcomm">Statistique</a></li> 
                    {%if (commercant.paiement == 0) and (commercant.dempaiement == 0) %}
                    <li class="pull-right"><a href="/paiement/paiement/DemActivePay/{{getsessionhelper()['id']}}">Demande activation de paiement</a></li> 
                    {%elseif commercant.paiement == 0 %}
                    <li class="pull-right"><a href="" class="text-error">Demande d'activation en cour de traitement</a></li> 
                    {%else %}    
                    <li class="pull-right"><a href="#">Gestion Paiement</a></li> 
                    {%endif%}  
                    </ul>
                    <form action="/produit/produit/addproduct" method="POST" class="form-horizontal offset2" enctype="multipart/form-data">
                    <fieldset>
                           {#---Categorie---#}
                            <div id="categorieplace" class="control-group">
                                <label class="control-label" for="cat" >Catégorie <span class="required">*</span></label>
                                <div class="controls">
                                    <select id="catselect" name="cat">
                                        <option selected="selected"></option>
                                        {% for row in categorie.result_array() %}
                                             <option  data-id ="{{ row.idcategorie }} " value="{{ row.idcategorie }}" >
                                               {{ row.titre }}</option>
                                                    {% endfor %}
                                    </select>  
                                    <div class="error">
                                        {{ form_error('cat') }}         
                                    </div>
                                </div>
                                
                            </div>
                         
                            {#---Libelle---#}
                            <div class="control-group">
                                <label class="control-label" for="libelle">Libelle <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="libelle" placeholder="Libelle" class="input-xlarge" value="{{ set_value('libelle')}}" >
                                    
                                </div>
                                <div class="error">
                                        {{ form_error('libelle') }}         
                                    </div>
                            </div>
                            
                            {#---Stock---#}
                            <div class="control-group">
                                <label class="control-label" for="stock" >Stock <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="stock" placeholder="Le stock" class="input-xlarge"  value="{{ set_value('stock')}}">
                                    <div class="error">
                                        {{ form_error('stock') }}         
                                    </div>
                                </div>
                            </div>
                            
                             {#---Description---#}
                            <div class="control-group">
                                <label class="control-label" for="description" >Description <span class="required">*</span></label>
                                <div class="controls">
                                    <textarea name="description" placeholder="Description" class="input-xlarge" ></textarea>
                                    <div class="error">
                                        {{ form_error('description') }}         
                                    </div>
                                </div>
                            </div>
                            
                             {#---Prix---#}
                            <div class="control-group">
                                <label class="control-label" for="prix" >Prix <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="prix" placeholder="Le prix" class="input-xlarge"  value="{{ set_value('prix')}}" >
                                    <div class="error">
                                        {{ form_error('prix') }}         
                                    </div>
                                </div>
                            </div>
                               {#---Remise---#}
                            <div class="control-group">
                                <label class="control-label" for="remise" >Remise <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="remise" placeholder="Entrez 0 s'il n'ya pa de remise" class="input-xlarge" value="{{ set_value('remise')}}" >
                                    <div class="error">
                                        {{ form_error('remise') }}         
                                    </div>
                                </div>
                            </div>
                            
                              {#---Photo---#}
                            <div class="control-group">
                                <label class="control-label" for="userfile" >Photo <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="file" name="userfile" size="20" />
                                   <div class="error">
                                        {{ form_error('userfile') }}         
                                    </div>
                                </div>
                            </div>
                        
                            {#---Valider---#}
                            <div class="control-group">
                                <div class="controls">
                                    <input type="submit" value="Valider" class="btn btn-info">
                                    <input type="reset" value="Annuler" class="btn btn-info">
                                </div>
                            </div>
                    </fieldset>
                </form>
            </div>
                 </div>
       
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}

{% block js %} 
    {#---js catégorie---#}
    <script type="text/javascript" src="{{base_url()}}assets/js/categorie.js"></script>
 {% endblock js %} 
