{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Slider{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Gestion Slider</h4></li>
                    <li class="pull-right"><a href="/annonce/annonce">Gestion des annonces</a></li>
                    <li class="pull-right"><a href="/produit/produit">Gestion des produits</a></li> 
                    <li class="pull-right"><a href="/produit/produit/slider">Gestion Slider</a></li> 
                </ul>
                <div class="span11">
                                {%if nbPhoto == 0 %}
                                    <div class="alert alert-info">Vous n'avez aucune photo pour le slider</div>
                                      <div class="btn-toolbar">
                                          <a class="btn" href='/produit/produit/addslider'><i class="icon-plus"></i> Ajouter une photo</a>
                                          </div>
                                {%elseif nbPhoto > 5 %}
                                     <div class="alert alert-info">Vous avez le droit d'ajouter 5 photos</div>
                                   {%else%}
                                   
                                   <div class="btn-toolbar">
                                       <a class="btn" href='/produit/produit/addslider'><i class="icon-plus"></i> Ajouter une photo</a>
                            </div>
                                 {%endif%}
                    </div>          
                    <div class="span11">
                    {%for var in slider.result() %}
                    <div class="span3 well">
                        <div class="row-fluid">
                      <img src="{{ finalpath }}{{var.photo}}" alt="" class="slider-shadow" height="146"/>
                      <a href='/produit/produit/deleteSlider/{{var.id}}'><p class="text-center">Supprimer photo</p></a>
                    </div>
                        </div>
                    {%endfor%}
                </div>
                </div>
        </div>
         
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}