{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Détail Produit{% endblock title %}

{% block head %}
    <link type="text/css" href="{{base_url()}}assets/css/fg.menu.css" media="screen" rel="stylesheet" />
{% endblock head %}


{% block container %}
    <div class="row">
        {% block menuVertical%}{{parent()}}{% endblock menuVertical%}
        {% block content %}
        <div class="span9">
            <div class="well">
                    <ul class="nav nav-pills" style="border-bottom: 1px solid #cccccc">
                        <li class="pull-left"><h4>Message entre comm et admin</h4></li>
                        
                    </ul>
                        
                 
                    
                    <div class="span6">
                        <div class="span3">
                            <p class="colorlabel"><strong>Sujet : </strong> <span>{{ msg.sujet}}</span> </p>
                            
                        </div>
                        <div class="span2">
                        </div>
                        <div class="span6">
                            <hr>
                             <p class="colorlabel"><strong>Contenu : </strong> <span> {{ msg.contenu}}</span></p>
                        </div>
                              <div class="control-group">
                           <form action="/message/msgcommadmin/ReponseAdmin/{{idmsg}}/{{table}}//{{idcom}}" method="POST" class="form-horizontal">
                    <fieldset>
                        <legend>Envoi msg</legend>
   
                        
                            {#---Pays---#}
                            <div class="control-group">
                                <label class="control-label" for="sujet">sujet <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="sujet" placeholder="Sujet" class="input-xlarge" >
                                    <div class="error">
                                        {{ form_error('sujet') }}         
                                    </div>
                                </div>
                            </div>
                            
                            {#---Contenu---#}
                            <div class="control-group">
                                <label class="control-label" for="contenu">Contenu <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="contenu" placeholder="Contenu" class="input-xlarge">
                                    <div class="error">
                                        {{ form_error('contenu') }}         
                                    </div>
                                </div>
                            </div>
          
                            {#---S'enregistrer---#}
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" name="submit" class="btn btn-info">S'enregistrer</button>
                                    <button type="reset" name="annuler" class="btn btn-info">Annuler</button>
                                </div>
                            </div>
                    </fieldset>
                </form>
                    </div>
                    </div>
                </div>
                
               
                    </div>
                </div>
	
              
                
           
            
	
                 </div>
            </div>
        {% endblock content %}
        </div>
        {% block partenaires %} {{parent()}} {% endblock partenaires %}
{% endblock container %}

{% block js %} 
{#---Menu Vertical---#}
<script type="text/javascript" src="{{base_url()}}assets/js/fg.menu.js"></script>
<script type="text/javascript">    
    $(function(){
        $('.fg-button').hover(
        function(){ $(this).removeClass('ui-state-default').addClass('ui-state-focus'); },
        function(){ $(this).removeClass('ui-state-focus').addClass('ui-state-default'); }
    );
        $('#hierarchybreadcrumb').menu({content: $('#hierarchybreadcrumb').next().html(), backLink: false});	
    });
    </script>
 {% endblock js %} 