{% extends "/layout/admin-layout.twig" %}

{% block title %} {{parent()}} - Espace Administrateur{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well" style="min-height: 585px">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h3>Espace Administrateur</h3></li>
                </ul>
                <div class="span7 well-small offset2" style="background-color:white">
                  <form action="/message/msgcommadmin/sendmsg" method="POST" class="form-horizontal">
                        {#---Commercant---#}
                        <div id="categorieplace" class="control-group">
                            <label class="control-label" for="com" >Commercant <span class="required">*</span></label>
                            <div class="controls">
                                <select id="catselect" name="com" class="input-xlarge">
                                    <option selected="selected">  </option>
                                    {% for row in enscomm.result_array() %}
                                         <option  data-id ="{{ row.idcommercant }} " value="{{ row.idcommercant }}" >
                                           {{ row.societe }}</option>
                                     {% endfor %}
                                 </select>  
                                 <div class="error">
                                    {{ form_error('com') }}         
                                </div>
                            </div>
                        </div>

                        {#---sujet---#}
                        <div class="control-group">
                            <label class="control-label" for="sujet">sujet <span class="required">*</span></label>
                            <div class="controls">
                                <input type="text" name="sujet" placeholder="Sujet" class="input-xlarge" value="{{ set_value('sujet') }}" >
                                <div class="error">
                                    {{ form_error('sujet') }}         
                                </div>
                            </div>
                        </div>

                        {#---Contenu---#}
                        <div class="control-group">
                            <label class="control-label" for="contenu">Contenu <span class="required">*</span></label>
                            <div class="controls">
                                <textarea name="contenu" rows="5" class="input-xlarge" placeholder="Ecrire ici le contenu de votre message"></textarea>
                                <div class="error">
                                    {{ form_error('contenu') }}         
                                </div>
                            </div>
                        </div>

                        {#---S'enregistrer---#}
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" name="submit" class="btn btn-info">Envoyer</button>
                            </div>
                        </div>
                 </form>
                  </div>       
        </div>
   </div>
    {% endblock content %}