{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Messages{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Envoyer un message à un Commerçant</h4></li>
                </ul>
           <form action="/message/msgclientcomm/send/{{idcom}}/{{idprod}}" method="POST" class="form-horizontal offset2">
                {#---Sujet---#}
                <div class="control-group">
                    <label class="control-label" for="sujet">sujet <span class="required">*</span></label>
                    <div class="controls">
                        <input type="text" name="sujet" placeholder="Sujet" class="input-xlarge" >
                        <div class="error">
                            {{ form_error('sujet') }}         
                        </div>
                    </div>
                </div>

                {#---Contenu---#}
                <div class="control-group">
                    <label class="control-label" for="contenu">Contenu <span class="required">*</span></label>
                    <div class="controls">
                        <textarea name="contenu" placeholder="Contenu" class="input-xlarge"></textarea>
                        <div class="error">
                            {{ form_error('contenu') }}         
                        </div>
                    </div>
                </div>

                {#---Envoyer---#}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" name="submit" class="btn btn-inverse">Envoyer</button>
                    </div>
                </div>
           </form>
        </div>
        </div>
         
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}

 