{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Modifer Annonce{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                   <ul class="nav nav-pills border">
                        <li class="pull-left"><h4>Modifer une annonce</h4></li>
                        <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion Commerçant<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/produit/produit">Gestion des produits</a></li>
                            <li><a href="/annonce/annonce">Gestion des annonces</a</li>
                            <li><a href="/produit/produit/slider">Gestion Slider</a></li>
                        </ul>
                    </li>
                    <li class="pull-right"><a href="/statistique/Statistique/statcomm">Statistique</a></li> 
                    {%if (commercant.paiement == 0) and (commercant.dempaiement == 0) %}
                    <li class="pull-right"><a href="/paiement/paiement/DemActivePay/{{getsessionhelper()['id']}}">Demande activation de paiement</a></li> 
                    {%elseif commercant.paiement == 0 %}
                    <li class="pull-right"><a href="" class="text-error">Demande d'activation en cour de traitement</a></li> 
                    {%else %}    
                    <li class="pull-right"><a href="#">Gestion Paiement</a></li> 
                    {%endif%} 
                    </ul>
                <form action="/annonce/annonce/updateannonce/{{active}}/{{namephoto}}/{{ id }}" method="POST" class="form-horizontal offset2" enctype="multipart/form-data">
                    <fieldset>
                            {#---Photo---#}
                            <div class="control-group">
                                <label class="control-label" for="photo" >Photo <span class="required">*</span></label>
                                <div class="controls">
                                    <img src="{{ photo }}" class="img-polaroid span6"  alt ="photo" height="195" style="margin-left: 0px;">   
                                </div>
                            </div>
                            
                            
                            {#---Titre---#}
                            <div class="control-group">
                                <label class="control-label" for="titre">Titre <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="titre" for="titre" placeholder="Titre" class="input-xlarge" value="{{ titre }}" >
                                    <div class="error">
                                        {{ form_error('titre') }}         
                                    </div>
                                </div>
                            </div>
                        
                            {#---Contenu---#}
                            <div class="control-group">
                                <label class="control-label" for="contenu" >Contenu <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="contenu" placeholder="Contenu" class="input-xlarge" value="{{ contenu }}">
                                    <div class="error">
                                        {{ form_error('contenu') }}         
                                    </div>
                                </div>
                            </div> 
                            
                            {#---Photo---#}
                            <div class="control-group">
                                <label class="control-label" for="photo" >Photo <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="file" name="userfile" size="20" />
                                  
                                </div>
                            </div>
                        
                            {#---Valider---#}
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" name="submit" class="btn btn-inverse">Valider</button>
                                    <button type="reset" name="annuler" class="btn btn-inverse">Annuler</button>
                                </div>
                            </div>
                    </fieldset>
                </form>
             </div>
                 </div>
       
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}
