{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Recherche{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Resultat de votre recherche </h4></li>
                    {% if not produit%}
                    <li></li>
                    {%else%}
                    <li class="pull-right">
                        <div class="pagination pagination-mini" style="margin: 6px 0">
                        <ul>
                          {{pagination}}
                        </ul>
                    </div>
                        </li>
                        {%endif%}
                </ul>
            
                    {% if not produit%}
                    <div class="alert">
                        <h5>Aucun résultat trouvé </h5>
                    </div>
                    {% else %}
                 <ul class="thumbnails">
                    
                       {% for row in produit %}
                    <li class="span3">
                        <div class="thumbnail">
                            <img alt="{{row.libelle}}" style="height: 194px;" src="{{pathphoto}}{{row.photo}}"/>
                            <div class="caption">
                                <form action="/cart/cart/add_cart_item" method="POST" style="margin-bottom: 0">
                                    {% set id = row.commercant_idcommercant %}
                                       {% set actvpay = 0 %}
                                        <h5 class="text-center wrap">{{row.libelle}}</h5>
                                    {% for row2 in comm.result_array() %}
                                        {% if row2.idcommercant == id  %}
                                             {# vérifier si le paiement en ligne est active     #}
                                            {%if row2.paiement == 1 %}
                                            {% set actvpay = 1 %}
                                              {%else%}
                                         {% set actvpay = 0 %}
                                            {%endif%}
                                      <p class="text-center" > <a href="/produit/afficheproduit/view_prod_comm/{{row2.idcommercant}}"> {{row2.societe}}</a></p>  
                                        {% endif %}
                                    {% endfor %}
                                    <p class="text-center" >
                                    {% for i in 1..row.note %}
                                        <img src="{{base_url()}}/assets/img/star-on.png">
                                    {% endfor %}
                                    </p>
                                    <div class="tumbprod">
                                    {#---Quantité hidden---#}
                                    <input type="hidden" name="quantity" value="1">

                                    {#---hidden id---#}
                                    <input type="hidden" name="product_id" value="{{row.idproduit}}">
                                    {%if (actvpay == 1) and (getsessionhelper()['type'] != 'commercant')%}
                                    <button type="submit"  class="btn btn-mini" name="submit" title="Ajouter au panier"><i class="icon-shopping-cart"></i></button>
                                    {%endif%}
                                    <a href="/produit/afficheproduit/details/{{row.idproduit}}" class="btn btn-mini" title="Plus Détails"><i class="icon-plus"></i></a>
                                    <span class="pull-right label">{{row.prix}} DT</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                   {% endfor %}
                </ul>  
                     {% endif %}
               <hr/>
                        <div class="pagination" style="margin: 0">
                            <ul class="pull-right">
                          {{pagination}}
                        </ul>
                                
                    </div>
                     
               
           </div>
        </div>
         
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}
