{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Espace Forum{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Espace Forum</h4></li>
                </ul>
                <ul class="nav nav-pills">
                    <li class="pull-left"><h4 class="colorlabel">Détails du sujet</h4></li>
                    {% if (row.commercant_idcommercant ==  getsessionhelper()['id']) or (row.client_idclient ==  getsessionhelper()['id'])  %}

                    <li class="pull-right">  
                        <a href="/forum/forum/ModifierSujet/{{row.idsujet}}" class="btn btn-inverse pull-right">Modifier Votre Sujet</a> 
                    </li>
                </ul>    
                
             
                {% if row.resolu ==  '1' %}
                <div class="well" style="min-height: 100px">
                    <div class="resolved"> <img src="{{base_url()}}assets/img/active.png" title="résolu"></div>                           
                    <h5 class="colorlabel">{{row.titre}}</h5>
                    <p>{{row.contenu}}</p> 
                    <p>
                        <i class="icon-user"></i> De <span class="colorlabel">{{nom}}</span> 
                        | <i class="icon-calendar"></i> {{row.datepublication}}
                    </p>
               </div>
               {% else%}
               <div class="well" style="min-height: 100px">
                   <ul class="nav nav-pills border">
                        <li class="pull-left"><h5 class="colorlabel">{{row.titre}}</h5></li>
                        <li class="pull-right">  
                          <a href="/forum/forum/resoudre/{{row.idsujet}}" class="btn">Marquer comme Résolu</a>
                        </li>
                    </ul>    
                    <p>{{row.contenu}}</p> 
                    <p>
                        <i class="icon-user"></i> De <span class="colorlabel">{{nom}}</span> 
                        | <i class="icon-calendar"></i> {{row.datepublication}}
                    </p>
               </div>
               {%endif %}	
               {%elseif row.resolu ==  '1'  %}	
                <div class="well" style="min-height: 100px">
                    <div class="resolved"> <img src="{{base_url()}}assets/img/active.png" title="résolu"></div>
                    <h5 class="colorlabel">{{row.titre}}</h5>
                    <p>{{row.contenu}}</p> 
                    <p>
                        <i class="icon-user"></i> De <span class="colorlabel">{{nom}}</span> 
                        | <i class="icon-calendar"></i> {{row.datepublication}}
                    </p>
               </div>
               {%else %}	
              <div class="well" style="min-height: 100px">
                   <h5 class="colorlabel">{{row.titre}}</h5>
                    <p>{{row.contenu}}</p> 
                    <p>
                        <i class="icon-user"></i> De <span class="colorlabel">{{nom}}</span> 
                        | <i class="icon-calendar"></i> {{row.datepublication}}
                    </p>
               </div>
               {%endif %}	
              
               {% for m in msg %}
                    {% set type = 'forum'%}
                        <div class="well" style="background-color: rgb(252, 252, 252);min-height: 100px">
                 
                          {% if m.commercant_idcommercant ==  getsessionhelper()['id'] %}
                            <ul class="nav nav-pills border">
                                <li class="pull-left"> <h5>Réponse: {{row.titre}}</h5></li>
                                <li class="pull-right">  
                                    <a href="/forum/forum/deletemsg/{{m.idMsgforum}}/{{idsujet}}" class="btn pull-right" title="Supprimer votre commentaire"><i class="icon-trash"></i></a>
                                </li>
                            </ul>    
                            <p>{{m.contenu}}</p> 
                             <p>
                                 <i class="icon-user"></i> De <span class="colorlabel">{{m.client_idclient}}</span> 
                                 | <i class="icon-calendar"></i> {{m.datepublication}}
                             </p>
                               {% else%}
                                     <ul class="nav nav-pills border">
                                         <li class="pull-left"> <h5>Réponse: {{row.titre}}</h5></li>
                                         <li class="pull-right">  <a href="/signaler/signaler/addSign/{{m.idMsgforum}}/{{type}}/{{idsujet}}" class="pull-right btn"> Signaler</a>  
                                         </li>
                                     </ul>
                                   
                                     <p>{{m.contenu}}</p> 
                                     <p>
                                         <i class="icon-user"></i> De <span class="colorlabel">{{m.client_idclient}}</span> 
                                         | <i class="icon-calendar"></i> {{m.datepublication}}
                                     </p>
                                 {%endif %}	
                            </div>
               {%endfor %}
                <form action="/forum/forum/ajouterMsg/{{row.idsujet}}/{{table}}/{{id}}" method="post" class="span11">    
                 <div class="control-group">
                    <label class="control-label colorlabel" for="contenu"><strong>Ajouter un commentaire</strong></label>
                    <div class="controls">
                        <textarea name="contenu" placeholder="Ajouter un commentaire" class="span11" rows="5"></textarea>
                        <div class="error">
                            {{ form_error('contenu') }}         
                        </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="ajouter" value="Ajouter" class="btn btn-info"/>
                    </div>
                  </div>
                </form> 
             </div>       
        </div>
   </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}