{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Espace Forum{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Espace Forum</h4></li>
                    <li class="pull-right"><a href="/forum/forum/ajouterSujet/{{idcat}}" class="btn-inverse"><i class="icon-plus-sign icon-white"></i> Créer un Sujet</a></li>
                </ul>
              
                <ul class="unstyled">
                {% for row in res.result_array() %}
                        <li class="well" style="min-height: 30px">
                            {% if row.resolu ==  '1' %}
                                <div class="resolved"> <img src="{{base_url()}}assets/img/active.png" title="résolu"></div>
                            {% endif%}
                            Titre Sujet : <a href="/forum/forum/afficherDetail/{{row.idsujet}}">{{row.titre}}</a>  
                            <p class="pull-right">{{row.datepublication}}</p>
                        </li>
                {% endfor %}
                </ul>
           </div>
        </div> 
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}