{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Espace forum{% endblock title %}

{% block container %}
    <div class="row">
        {% block menuVertical%}{% endblock menuVertical%}
        {% block content %}
        <div class="span12 well">
                <div class="span11">
                     <h3 class="text-center">Espace Forum</h3>
                     <hr>
                    <a href="/forum/forum/ajouterSujet/{{idcat}}" class="btn"><i class="icon-plus-sign"></i> Créer un Sujet</a>
                </div>
                <ul class="unstyled">
                {% for row in res.result_array() %}
                        <li class="span11 well">
                            Titre Sujet : <a href="/forum/forum/afficherDetail/{{row.idsujet}}">{{row.titre}}</a>
                               
                            <p class="pull-right">
                                {{row.datepublication}}
                                 {% if row.resolu ==  '1' %}
                                    <img src="{{base_url()}}assets/img/active.png" class="btn">
                                {% endif%}
                            </p>
                          
                        </li>
                {% endfor %}
                </ul>
                </div>
        {% endblock content %}
        </div>
        {% block partenaires %} {{parent()}} {% endblock partenaires %}
{% endblock container %}
