{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Espace Forum{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Espace Forum</h4></li>
                </ul>
                <form action="/forum/forum/InsertModif/{{id}}" method="POST" class="form-horizontal offset2" enctype="multipart/form-data">
                    <fieldset>
                          {#---Hidden Titre---#} 
            <input type="hidden" name="titrehidden"  value="{{ titre }}" >
                            
                            {#---Titre---#}
                            <div class="control-group">
                                <label class="control-label" for="titre">Titre <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="titre" for="titre" placeholder="Titre" class="input-xlarge" value="{{ titre }}" >
                                    <div class="error">
                                        {{ form_error('titre') }}         
                                    </div>
                                </div>
                            </div>
                        
                            {#---Contenu---#}
                            <div class="control-group">
                                <label class="control-label" for="contenu" >Contenu <span class="required">*</span></label>
                                <div class="controls">
                                    <textarea  name="contenu" placeholder="Contenu" class="input-xlarge" >{{ contenu }}</textarea>
                                    <div class="error">
                                        {{ form_error('contenu') }}         
                                    </div>
                                </div>
                            </div> 
                            
                        
                            {#---Valider---#}
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" name="submit" class="btn btn-info">Valider</button>
                                    <button type="reset" name="annuler" class="btn btn-info">Annuler</button>
                                </div>
                            </div>
                    </fieldset>
                </form>
             </div>       
        </div>
   </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}