{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Espace Forum{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Espace Forum</h4></li>
                </ul>
                <form action="/forum/forum/ajouterSujet/{{idcat}}" method="post" class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label" for="titre">Titre</label>
                    <div class="controls">
                        <input type="text" name="titre" placeholder="Titre du sujet" class="input-xxlarge" >
                    <div class="error">
                            {{ form_error('titre') }}         
                        </div>
                    </div>
                  </div>
                  
                 <div class="control-group">
                    <label class="control-label" for="contenu">Contenu</label>
                    <div class="controls">
                        <textarea name="contenu" placeholder="Contenu du sujet" class="input-xxlarge" rows="5"></textarea>
                        <div class="error">
                            {{ form_error('contenu') }}         
                        </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="ajouter" value="Ajouter" class="btn btn-inverse"/>
                    </div>
                  </div>
                </form>     
            </div>       
        </div>
   </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}