{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Modifier Profil{% endblock title %}

{% block container %}
    <div class="row">
        {% block menuVertical%}{% endblock menuVertical%}
        {% block content %}
        <div class="span12">
            <div class="well">
                <form action="/inscription/gestionprofil/updateprofilclient" method="POST" class="form-horizontal">
                    <fieldset>
                        <legend>Modifier votre profil</legend>
                         <div class="error offset2">
                                        {{ form_error('callback') }}  
                            </div>
                            {#---Nom---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="nom">Nom <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="nom" for="nom" placeholder="Votre Nom" class="input-xlarge" value="{{ nom }}">
                                    <div class="error">
                                        {{ form_error('nom') }}         
                                    </div>
                                </div>
                            </div>
                            
                            {#---Prénom---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="prenom" >Prénom <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="prenom" placeholder="Votre Prénom" class="input-xlarge" value="{{ prenom }}">
                                    <div class="error">
                                        {{ form_error('prenom') }}         
                                    </div>
                                </div>
                            </div>
                            
                            {#---Email---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="email">E-mail <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="email" name="email" placeholder="Votre E-mail" class="input-xlarge" value="{{ email }}">
                                    <div class="error">
                                        {{ form_error('email') }}         
                                    </div>
                                     <div class="error">
                                        {{ form_error('errortotal') }}  
                                    </div>
                                </div>
                            </div>
                            
                            {#---Login---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="login">Login <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="login" placeholder="Votre Nom d'utilisateur" class="input-xlarge" value="{{ login }}">
                                    <div class="error">
                                        {{ form_error('login') }} 
                                    </div>
                                    <div class="error">
                                        {{ form_error('errortotal') }}  
                                    </div>
                                </div>
                            </div>
                            {#---Adressse---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="adresse">Adresse <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="adresse" placeholder="Votre Adresse" class="input-xlarge" value="{{ adresse }}">
                                    <div class="error">
                                        {{ form_error('adresse') }}         
                                    </div>
                                </div>
                            </div>
                        
                            {#---Pays---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="pays">Pays <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="pays" placeholder="Votre Adresse" class="input-xlarge" value="{{ pays}}">
                                    <div class="error">
                                        {{ form_error('pays') }}         
                                    </div>
                                </div>
                            </div>
                            
                            {#---ville---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="ville">Ville <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="ville" placeholder="Votre Adresse" class="input-xlarge" value="{{ ville }}">
                                    <div class="error">
                                        {{ form_error('ville') }}         
                                    </div>
                                </div>
                            </div>
                            
                            {#---Télephone---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="tel">Numéro téléphone <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="tel" placeholder="Votre Numéro De Téléphone" class="input-xlarge" value="{{ tel }}">
                                    <div class="error">
                                        {{ form_error('tel') }}         
                                    </div>
                                </div>
                            </div>
                        
                            {#---Valider---#}
                            <div class="control-group offset2">
                                <div class="controls">
                                    <button type="submit" name="submit" class="btn btn-info">Valider</button>
                                    <button type="reset" name="annuler" class="btn btn-info">Annuler</button>
                                </div>
                            </div>
                    </fieldset>
                </form>
            </div>
        </div>
        {% endblock content %}
     </div>
     {% block partenaires %} {{parent()}} {% endblock partenaires %}
{% endblock container %}
