{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Slider{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Liste Des Achats</h4></li>
                </ul>        
                    <div class="span11">
                    {%for var in achat %}
                    <div class="span3 well">
                        <div class="row-fluid">
                      <img src="{{ path }}{{var.photo}}" alt="" class="slider-shadow" height="146"/>
                      <p class="text-center">{{var.libelle}}</p>
                      <p class="text-center">{{var.prixprod}}</p>
                      <p class="text-center">{{var.date }}</p>
                    </div>
                        </div>
                    {%endfor%}
                </div>
                </div>
        </div>
         
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}