{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Profil{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
               
                <div class="span9 well" style="min-height:302px">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Votre Profil</h4></li>
                </ul>
                    <div class="span4">
                        <p class="colorlabel"><strong>Nom : </strong> <span>{{ personne.nom}}</span> </label></p>
                        <p class="colorlabel"><strong>Prénom : </strong> <span>{{ personne.prenom}}</span> </label></p>
                        <p class="colorlabel"><strong>Login : </strong> <span>{{ personne.login}}</span> </label></p>
                        <p class="colorlabel"><strong>Pays : </strong> <span>{{ personne.pays}}</span> </label></p>
                    </div>  
                    <div class="span4">
                        <p class="colorlabel"><strong>Ville : </strong> <span>{{ personne.ville}}</span> </label></p>
                        <p class="colorlabel"><strong>Adresse : </strong> <span>{{ personne.adresse}}</span> </label></p>
                        <p class="colorlabel"><strong>Téléphone : </strong> <span>{{ personne.tel}}</span> </label></p>
                        <p class="colorlabel"><strong>Email : </strong> <span>{{ personne.email}}</span> </label></p>
                    </div> 
                </div>
                <div class="span3">
                      {% block slider2 %}{{parent()}}{% endblock slider2 %}
               </div>
            </div>
        </div>
         
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}