{% extends "/layout/layout.twig" %}
{% block title %} {{parent()}} - Home{% endblock title %}

{% block content %}
      
        <div class="row-fluid">
         <div class="span12"> 
            <div class="row-fluid">
                {#---Slider---#}
                <section class="slider">
                    <div class="slider-shadow">
                    <div class="flexslider carousel">
                         <ul class="slides">
                            {%for var in slider.result() %}
                                <li> <img src="{{ finalpath }}{{var.photo}}"> </li>
                            {%endfor%}
                        </ul>
                    </div>
                        </div>
                </section>
                {# meilleur noter#}
                <h4 class="title feature">
                    <span class="pull-left">Meilleur Noter</span>
                    <span class="pull-right">
                        <a id="prev3" class="iconleft"></a>
                        <a id="next3" class="iconright"></a>
                    </span>
                </h4>
                <ul id="foo" class="thumbnails" style="margin-left:-18px">
                    {% for row in produit.result_array() %}
                    <li>
                        <div class="thumbnail">
                            <img alt="{{row.libelle}}" style="height: 194px;" src="{{pathphoto}}{{row.photo}}"/>
                            <div class="caption">
                                <form action="/cart/cart/add_cart_item" method="POST" style="margin-bottom: 0">
                                    {% set id = row.commercant_idcommercant %}
                                        {% set actvpay = 0 %}
                                        <h5 class="text-center wrap">{{row.libelle}}</h5>
                                    {% for row2 in comm.result_array() %}
                                        {% if row2.idcommercant == id  %}
                                        {# vérifier si le paiement en ligne est active     #}
                                            {%if row2.paiement == 1 %}
                                            {% set actvpay = 1 %}
                                              {%else%}
                                         {% set actvpay = 0 %}
                                            {%endif%}
                                        <p class="text-center" > <a href="/produit/afficheproduit/view_prod_comm/{{row2.idcommercant}}"> {{row2.societe}}</a></p>  
                                        {% endif %}
                                    {% endfor %}
                                    <p class="text-center" >
                                        {%if row.note > 0 %}
                                    {% for i in 1..row.note %}
                                        <img src="{{base_url()}}/assets/img/star-on.png">
                                    {% endfor %}
                                        {%else%}
                                             <img src=""/>
                                        {%endif%}
                                    </p>
                                    <div class="tumbprod">


                                    {#---Quantité hidden---#}
                                    <input type="hidden" name="quantity" value="1">

                                    {#---hidden id---#}
                                    <input type="hidden" name="product_id" value="{{row.idproduit}}">

                                    {%if actvpay == 1%}
                                    <button type="submit"  class="btn btn-mini" name="submit" title="Ajouter au panier"><i class="icon-shopping-cart"></i></button>
                                    {%endif%}                                      <a href="/produit/afficheproduit/details/{{row.idproduit}}" class="btn btn-mini" title="Plus Détails"><i class="icon-plus"></i></a></span>
                                    <span class="pull-right label">{{row.prix}} DT</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="shadow"></div>
                    </li>
                   {% endfor %}
                </ul>
                    
                {# Last added#}
                <h4 class="title feature">
                    <span class="pull-left">Nouveau produits</span>
                    <span class="pull-right">
                        <a id="prev2" class="iconleft"></a>
                        <a id="next2" class="iconright"></a>
                    </span>
                </h4>
                <ul id="last" class="thumbnails" style="margin-left:-18px">
                     {% for rows in produitdate.result_array() %}
                        <li>
                            <div class="thumbnail">
                                <img alt="{{rows.libelle}}" style="height: 194px;" src="{{pathphoto}}{{rows.photo}}"/>
                                <div class="caption">
                                    <form action="/cart/cart/add_cart_item" method="POST" style="margin-bottom: 0">
                                        {% set id = rows.commercant_idcommercant %}
                                            {% set actvpay = 0 %}
                                            <h5 class="text-center wrap">{{rows.libelle}}</h5>
                                        {% for row2 in comm.result_array() %}
                                            {% if row2.idcommercant == id  %}
                                             {# vérifier si le paiement en ligne est active     #}
                                            {%if row2.paiement == 1 %}
                                            {% set actvpay = 1 %}
                                              {%else%}
                                         {% set actvpay = 0 %}
                                            {%endif%}
                                            <p class="text-center" > <a href="/produit/afficheproduit/view_prod_comm/{{row2.idcommercant}}"> {{row2.societe}}</a></p>  
                                            {% endif %}
                                        {% endfor %}
                                        <p class="text-center">
                                        {% for i in 1..rows.note %}
                                            <img src="{{base_url()}}/assets/img/star-on.png">
                                        {% endfor %}
                                        </p>
                                        <div class="tumbprod">
                                        {#---Quantité hidden---#}
                                        <input type="hidden" name="quantity" value="1">

                                        {#---hidden id---#}
                                        <input type="hidden" name="product_id" value="{{rows.idproduit}}">

                                    {%if actvpay == 1%}
                                    <button type="submit"  class="btn btn-mini" name="submit" title="Ajouter au panier"><i class="icon-shopping-cart"></i></button>
                                    {%endif%}                                         <a href="/produit/afficheproduit/details/{{rows.idproduit}}" class="btn btn-mini" title="Plus Détails"><i class="icon-plus"></i></a></span>
                                        <span class="pull-right label">{{rows.prix}} DT</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="shadow"></div>
                        </li>
                    {% endfor %}
                </ul>
                    {# {# fin produit en solde#}
                <h4 class="title feature">
                    <span class="pull-left">Produits soldés</span>
                    <span class="pull-right">
                        <a id="prev1" class="iconleft"></a>
                        <a id="next1" class="iconright"></a>
                    </span>
                </h4>
                <ul id="sold" class="thumbnails" style="margin-left:-18px">
                     {% for rows in produitsolde %}
                        <li>
                            <div class="thumbnail">
                                <img alt="{{rows.libelle}}" style="height: 194px;" src="{{pathphoto}}{{rows.photo}}"/>
                                <div class="caption">
                                    <form action="/cart/cart/add_cart_item" method="POST" style="margin-bottom: 0">
                                        {% set id = rows.idcomm %}
                                            {% set actvpay = 0 %}
                                            <h5 class="text-center wrap">{{rows.libelle}}</h5>
                                        {% for row2 in comm.result_array() %}
                                            {% if row2.idcommercant == id  %}
                                             {# vérifier si le paiement en ligne est active     #}
                                            {%if row2.paiement == 1 %}
                                            {% set actvpay = 1 %}
                                              {%else%}
                                         {% set actvpay = 0 %}
                                            {%endif%}
                                            <p class="text-center" > <a href="/produit/afficheproduit/view_prod_comm/{{row2.idcommercant}}"> {{row2.societe}}</a></p>  
                                            {% endif %}
                                        {% endfor %}
                                        <p class="text-center">
                                        {% for i in 1..rows.note %}
                                            <img src="{{base_url()}}/assets/img/star-on.png">
                                        {% endfor %}
                                        </p>
                                        <p class="text-center">
                                             <span class="label"><del>{{rows.oldprice}}</del> DT</span>
                                             <span class="label label-important" style="color: white">{{rows.newprice}} DT</span>
                                        </p>
                                        <div class="tumbprod">
                                        {#---Quantité hidden---#}
                                        <input type="hidden" name="quantity" value="1">

                                        {#---hidden id---#}
                                        <input type="hidden" name="product_id" value="{{rows.idp}}">

                                    {%if actvpay == 1%}
                                    <button type="submit"  class="btn btn-mini" name="submit" title="Ajouter au panier"><i class="icon-shopping-cart"></i></button>
                                    {%endif%}  
                                        <a href="/produit/afficheproduit/details/{{rows.idp}}" class="btn btn-mini" title="Plus Détails"><i class="icon-plus"></i></a></span>
                                       
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="shadow"></div>
                        </li>
                    {% endfor %}
                </ul>
                    {# fin produit en solde#}
            </div>
        </div>
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
{% endblock content %}


{% block js %} 
    {#---Ensemble de produit---#}
    <script type="text/javascript" src="{{base_url()}}assets/js/jquery.carouFredSel-6.2.1.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#foo').carouFredSel({
            responsive: true,width: '100%', prev: '#prev3', next: '#next3', scroll: 2, 
            items: { width: 228, visible: { min: 2, max: 4} }
        });
        $('#last').carouFredSel({
            responsive: true, width: '100%', prev: '#prev2', next: '#next2', scroll: 2,
            items: { width: 228, visible: { min: 2, max: 4 } }
        });    
        $('#sold').carouFredSel({
            responsive: true, width: '100%', prev: '#prev1', next: '#next1', scroll: 2,
            items: { width: 228, visible: { min: 2, max: 4 } }
        });
    });
   </script>
   
 {% endblock js %} 
