{% extends "/layout/layout.twig" %}
{% block title %} {{parent()}} - Home{% endblock title %}

{% block content %}
      
        <div class="row-fluid">
         <div class="span12"> 
            <div class="row-fluid">
                {#---Slider---#}
                <section class="slider">
                    <div class="slider-shadow">
                    <div class="flexslider carousel">
                        <div class="boutton"><a href="{{base_url()}}assets/img/rapportversion6.pdf" class="btn btn-inverse btn-large"><img src="{{base_url()}}assets/img/android.png" style="margin-top: -5px;"/>Télécharger l'application</a></div>
                         <ul class="slides">
                      
                                <li> <img src="{{base_url()}}assets/img/mobile-slider.png"> </li>
                          
                        </ul>
                    </div>
                        </div>
                </section>
                     <div class="span12 well">
            <div class="row-fluid">
                <h4>
                Vous partez déjà ? Ne ratez plus rien !
Accédez à notre plateforme sur votre téléphone mobile.
                </h4>
                <p> En utilisant notre solution mobile vous pouvez :  </p>
                <ul>    
                <li>Accéder à notre Forum</li>
                <li>Consulter nos produits</li>
                <li>Remplir votre panier</li> 
                <li>Suivre vos achats </li>
                </ul>
                
            </div>
        </div>
          
            </div>
        </div>
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
{% endblock content %}



