{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Liste des Produits{% endblock title %}

{% block container %}
    <div class="row">
        {% block menuVertical%}{% endblock menuVertical%}
        {% block content %}
            <div class="span12">
                <div class="well">
                    {# liste des produit #}
                    <h4 class="title feature">
                        <span class="pull-left">Liste des Produits</span>
                    </h4>
                    <ul class="thumbnails">
                        {% for row in produit.result_array() %}
                        <li class="span3 more bottom"> 
                            <form action="/cart/cart/add_cart_item" method="POST" style="margin: 0 0 0px;">
                                {% set id = row.commercant_idcommercant %}
                                <div class="thumbnail">
                                        <img src="{{pathphoto}}{{row.photo}}" width="250" height="200" style="padding: 9px;">
                                        <div class="thumb">
                                            <p><small> {{row.libelle}}</small></p>
                                            
                                            {% for row2 in comm.result_array() %}
                                                {% if row2.idcommercant == id  %}
                                                    <p> Fournisseur : <a href="/produit/afficheproduit/view_prod_comm/{{row2.idcommercant}}"> {{row2.societe}}</a></p>  
                                                {% endif %}
                                            {% endfor %}
                                            <div>
                                                <p class="pull-left">
                                                 {% for i in 1..row.note %}
                                                        <img src="{{base_url()}}/assets/img/star-on.png">
                                                {% endfor %}
                                                </p>
                                                <p class="pull-right"><big>{{row.prix}} DT</big></p>
                                            </div>
                                            {#---Quantité hidden---#}
                                             <input type="hidden" name="quantity" value="1">

                                            {#---hidden id---#}
                                            <input type="hidden" name="product_id" value="{{row.idproduit}}">
                                            <div class="pull-right">
                                                <button type="submit" name="submit" class="btn btn-default btn-mini"><i class="icon-shopping-cart"></i>Ajouter au panier</button>
                                                <a href="/produit/afficheproduit/details/{{row.idproduit}}" class="btn btn-default btn-mini"><i class="icon-plus"></i>Plus Détails</a>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                   
                    {# liste des offres #}
                    <h4 class="title feature">
                        <span class="pull-left">Liste des Offres</span>
                    </h4>
                    <ul class="thumbnails">
                    {% for row in annonce.result_array() %}
                        {% set id = row.commercant_idcommercant %}
                        <li class="span3 more bottom">
                            <div class="thumbnail">
                                <img src="{{pathphoto}}{{row.photo}}" width="250" height="200" style="padding: 9px;">
                                 <div class="thumb">
                                     <p><small> {{row.titre}}</small></p>
                                    {% for row2 in comm.result_array() %}
                                        {% if row2.idcommercant == id  %}
                                            <p> Fournisseur : <a href="/produit/afficheproduit/view_prod_comm/{{row2.idcommercant}}"> {{row2.societe}}</a></p>          
                                        {% endif %}
                                    {% endfor %}
                                     <p>
                                        <a href="/produit/afficheproduit/detailsannonce/{{row.idannonce}}" class="btn btn-default btn-mini"><i class="icon-plus"></i>Plus Détails</a>
                                     </p> 
                                 </div>
                            </div>
                          </li>
                    {% endfor %}
                </ul>
                </div>
           </div>
        {% endblock content %}
     </div>
     {% block partenaires %} {{parent()}} {% endblock partenaires %}
{% endblock container %}
