{% extends "/layout/layout.twig" %}
{% block title %} {{parent()}} - Page Commerçant{% endblock title %}

{% block content %}
    <div class="row-fluid">
         <div class="span12"> 
            <div class="row-fluid">
                <div class="span3">
                    <ul class="nav nav-tabs nav-stacked">
                      {%for row in categorie%}
                            <li style="background-color: rgb(233, 233, 233)"><a href="/produit/afficheproduit/getProductByCat/{{idcom}}/{{row.idcat}}"> <i class="icon-list"></i> {{row.cat}}  </a></li>
                          {%set idc = row.idcat%}
                          {%for row2 in souscategorie%}
                            {%if row2.idforeigncat == row.idcat%}
                                <li><a href="/produit/afficheproduit/getProductBySousCat/{{idcom}}/{{row2.idsouscat}}"> - {{row2.souscat}}</a></li>
                            {%endif%}
                          {%endfor%}
                      {%endfor%}
                    </ul>
                 </div>
                <div class="span9" style="min-height:302px">
                    {#---Slider---#}
                    <section class="slider">
                        <div class="slider-shadow" style="padding-bottom: 4px;">
                            <div class="flexslider carousel">
                                 <ul class="slides">
                                    {%for var in slider.result() %}
                                        <li> <img src="{{ finalpath }}{{var.photo}}"> </li>
                                    {%endfor%}
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            
           <div class="row-fluid">
               <div class="span12 well">
                {# liste des produit #}
                <h4 class="title feature">
                    <span class="pull-left">Liste des Produits</span>
                    <span class="pull-right">
                     <form name ="formName" action="/produit/afficheproduit/view_prod_comm/{{idcom}}" method="POST">
                         <select onchange="javascript:mySubmit()"  name="tri">
                             <option value="aucun" selected="selected">Aucun</option>
                             <option value="prix">Par Prix</option>
                             <option value="libelle">Par Libelle</option>
                         </select>
                     </form>
                    </span>
                </h4>
                  <ul class="thumbnails">
                     {% for row in produit.result_array() %}
                    <li class="span3">
                        <div class="thumbnail">
                            <img alt="{{row.libelle}}" style="height: 194px;" src="{{pathphoto}}{{row.photo}}"/>
                            <div class="caption">
                                <form action="/cart/cart/add_cart_item" method="POST" style="margin-bottom: 0">
                                    {% set id = row.commercant_idcommercant %}
                                         {% set actvpay = 0 %}
                                        <h5 class="text-center">{{row.libelle}}</h5>
                                    {% for row2 in comm.result_array() %}
                                        {% if row2.idcommercant == id  %}
                                        {# vérifier si le paiement en ligne est active     #}
                                            {%if row2.paiement == 1 %}
                                            {% set actvpay = 1 %}
                                              {%else%}
                                         {% set actvpay = 0 %}
                                            {%endif%}
                                        <p class="text-center" > {{row2.societe}}</p>  
                                        {% endif %}
                                    {% endfor %}
                                    <p class="text-center" >
                                    {% for i in 1..row.note %}
                                        <img src="{{base_url()}}/assets/img/star-on.png">
                                    {% endfor %}
                                    </p>
                                    <div class="tumbprod">
                                    {#---Quantité hidden---#}
                                    <input type="hidden" name="quantity" value="1">

                                    {#---hidden id---#}
                                    <input type="hidden" name="product_id" value="{{row.idproduit}}">
                                   
                                    {%if actvpay == 1%}
                                    <button type="submit"  class="btn btn-mini" name="submit" title="Ajouter au panier"><i class="icon-shopping-cart"></i></button>
                                    {%endif%}                                     
                                    <a href="/produit/afficheproduit/details/{{row.idproduit}}" class="btn btn-mini" title="Plus Détails"><i class="icon-plus"></i></a>
                                    <span class="pull-right label">{{row.prix}} DT</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                   {% endfor %}
                </ul>  
                
            {# liste des offres #}
            <h4 class="title feature">
                <span class="pull-left">Liste des Offres</span>
            </h4>
            <ul class="thumbnails">
                     {% for row in annonce.result_array() %}
                    <li class="span3">
                        <div class="thumbnail">
                            <img alt="{{row.libelle}}" style="height: 194px;" src="{{pathphoto}}{{row.photo}}"/>
                            <div class="caption">
                                {% set id = row.commercant_idcommercant %}
                                <h5 class="text-center">{{row.titre}}</h5>
                                <p>
                                {% for row2 in comm.result_array() %}
                                    {% if row2.idcommercant == id  %}
                                    <span> {{row2.societe}}</span>  
                                    {% endif %}
                                {% endfor %}
                                    <span class="pull-right"><a href="/produit/afficheproduit/detailsannonce/{{row.idannonce}}" class="btn btn-mini" title="Plus Détails"><i class="icon-plus"></i></a></span>
                               </p>
                            </div>
                        </div>
                    </li>
                   {% endfor %}
                </ul>  
        </div>
   </div>
        </div>
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
{% endblock content %}
{% block js %} 
<script language="javascript">
    function mySubmit() { document.formName.submit();}
</script>
 {% endblock js %} 