{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Pannier{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Détails de votre carte </h4></li>
                </ul>

                <div class="span8 offset1">
                    <ul id="breadcrumbs-one">
                        <li><span class="current"><strong>1.</strong> Résumé</span></li>
                        <li><span><strong>2.</strong> Identifiez-vous</span></li>
                        <li><span><strong>3.</strong> Adresse</span></li>
                        <li><span><strong>3.</strong> Frais de port</span></li>
                        <li><span><strong>4.</strong> Paiement</span></li>
                    </ul>


                </div>
                    <div class="span12">  <div class="row-fluid"> <hr></div></div>
                   
                {% if not shopping.content  %}
                <div class="alert alert-info">Votre carte est vide !</div>
                {% else %}  
                    <form action="/cart/cart/update_cart" method="POST">
                     <div class="control-group pull-right">
                      <div class="controls">
                         <button type="submit" name="submit" class="btn"><i class="icon-refresh"></i> Actualiser la Carte</button>
                         <a href="/cart/cart/empty_cart" class="btn"><i class="icon-trash"></i> Vider la carte</a>  
                      </div>
                    </div>
                    <table class="table">           
                        <tr>
                            <th>photos</th>
                            <th>Nom Article</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Total</th>
                        </tr>          
                        {% set i = 1 %}     
                        {% for items in shopping.content %}
                        {#---hidden id---#}
                        <input type="hidden" name="rowid[]" value="{{items.rowid}}">
                        <tr>
                            <td><img src="{{items.options.path}}{{items.options.photo}}" class="img-polaroid" width="50" height="50"></td>
                            <td>{{items.name}}</td> 
                            <td>{{items.price}} </td>  
                            <td><input type="text" name="qty[]" placeholder="Quantité"  value="{{items.qty}}" class="input-small"></td>
                            <td>{{items.subtotal}} </td>      
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td>{{shopping.total}}</td>
                        </tr>
                    </table>
                </form>
                <a href="/paiement/paiement/listeAchat" class="btn pull-right btn-inverse">Suivant  <i class="icon-chevron-right icon-white"></i> </a></span>
                {% endif %}
           </div>
        </div>
         
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}
