{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Login{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span12 well" style="min-height:302px">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Contactez nous</h4></li>

                </ul>
                <form action="/contact/contact/send" method="POST" >
                    <div class="span6 well offset3" style="background-color: rgb(250, 250, 250)">
                            <fieldset>
                            
                           <div class="control-group">
                                <label class="control-label" for="Nom">Nom <span class="required">*</span></label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <input type="text" class="input-large" name="nom"  placeholder="Votre Nom " />        
                                    </div>
                                         <div class="error">
                                        {{ form_error('nom') }}         
                                    </div>
                                </div>
                            </div>

                                <!-- email-->
                                <div class="control-group">
                                    <label class="control-label" for="email">Email <span class="required">*</span></label>
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <input type="email"  name="email" class="input-large" placeholder="Votre Email" />
                                        </div>
                                        <div class="error">
                                        {{ form_error('email') }}         
                                            </div>
                                        </div>
                                    </div>
                                <!-- Sujet-->
                                <div class="control-group">
                                    <label class="control-label" for="Sujet">Sujet <span class="required">*</span></label>
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <input type="text"  name="sujet" class="input-large" placeholder="Sujet" />
                                        </div>
                                        <div class="error">
                                        {{ form_error('sujet') }}         
                                            </div>
                                        </div>
                                    </div>
                           
                         {#---Message---#}
                            <div class="control-group">
                                <label class="control-label" for="message" >Message <span class="required">*</span></label>
                                <div class="controls">
                                    <textarea  name="message" placeholder="Message" class="input-large" ></textarea>
                                    <div class="error">
                                        {{ form_error('message') }}         
                                    </div>
                                </div>
                            </div> 
                                  <!-- Button -->
                             
                           <div class="control-group span1">
                            <div class="controls offset8">
                                    <button class="btn btn-info">Envoyer</button>
                                    
                                </div>
                            </div>
                        </fieldset>
                            </div>
                           
                    </form>
                 </div>
           
            </div>
        </div>   
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}
