{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Messages{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Vos Messages</h4></li>
                </ul>
                <div class="span9 well offset1" style="background-color:white">
                    <form action="/message/msgclientcomm/reponsecomm/{{idcl}}/{{nom}}}" method="POST" class="form-horizontal">
                        <fieldset>
                          <legend>Répondre à un message</legend>
                          {#---Sujet---#}
                           <div class="control-group">
                               <label class="control-label" for="sujet">sujet <span class="required">*</span></label>
                               <div class="controls">
                                   <input type="text" name="sujet" placeholder="Sujet" class="input-xlarge" >
                                   <div class="error">
                                     {{ form_error('sujet') }}         
                                   </div>
                               </div>
                           </div>

                           {#---Contenu---#}
                           <div class="control-group">
                               <label class="control-label" for="contenu">Contenu <span class="required">*</span></label>
                               <div class="controls">
                                   <textarea name="contenu" rows="5" class="span9" placeholder="Ecrire ici le contenu de votre message"></textarea>
                                   <div class="error">
                                    {{ form_error('contenu') }}         
                                    </div>
                               </div>
                           </div>

                           {#---Envoyer---#}
                           <div class="control-group">
                               <div class="controls">
                                   <button type="submit" name="submit" class="btn btn-inverse">Envoyer</button>
                               </div>
                           </div>
                        </fieldset>
                    </form>
                </div>
                <div class="span11">
                   <div class="accordion" id="accordion2">
                     {% set i = 0%}
                     {%for msg in conv%}
                          {%if msg.table == 'msgclient'%}
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{i}}">
                                        <p>
                                            <span class="pull-left"><strong>{{nom}}</strong></span>
                                            <span class="pull-right">{{msg.dateenvoi}}</span>
                                        </p>
                                    </a>
                                </div>
                                <div id="collapse{{i}}" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <p><strong class="colorlabel">Sujet: </strong> {{msg.sujet}}</p>
                                        <p><strong class="colorlabel">Contenu: </strong>{{msg.contenu}}</p>
                                    </div>
                                </div>
                            </div>
                          {%else %}
                          <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{i}}">
                                    <p>
                                        <span class="pull-left"><strong>Moi</strong></span>
                                        <span class="pull-right">{{msg.dateenvoi}}</span>
                                    </p>
                                </a>
                            </div>
                            <div id="collapse{{i}}" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p><strong class="colorlabel">Sujet: </strong> {{msg.sujet}}</p>
                                    <p><strong class="colorlabel">Contenu: </strong>{{msg.contenu}}</p>
                                </div>
                            </div>
                          </div>
                          {%endif%}
                          {% set i = i+1%}
                     {%endfor%}  
                      </div>
                </div>
            </div>
        </div>
         
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}
          