{% extends "/layout/admin-layout.twig" %}

{% block title %} {{parent()}} - Espace Administrateur{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h3>Espace Administrateur</h3></li>
                </ul>
                    <ul class="nav nav-pills" style="border-bottom: 1px solid #cccccc">
                        <li class="pull-left"><h4>{{titre}}</h4></li>
                         {%if login != NULL%}
                        <li class="pull-right"><h4>Voici le login recherché : {{login}}</h4></li>
                        {%endif%}
                   </ul>
                
                    <div class="table table-striped table-hover ">
                       {{ table }} 
                    </div>
                    <div class="pagination">
                      {{pagination}}
                    </div>
                        
                </div>       
        </div>
   </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}