{% extends "/layout/admin-layout.twig" %}

{% block title %} {{parent()}} - Espace Administrateur{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well" style="min-height: 585px">
            <div class="row-fluid">
                       <ul class="nav nav-pills" style="border-bottom: 1px solid #cccccc">
                            <li class="pull-left"><h4>Détails d'un produit</h4></li>
                         <li class="pull-right"><a href="/admin/admin/deleteproduct/{{idproduit}}">Supprimer produit</a></li>
                       </ul>
                    <div class="span3">
                       <img src="{{ finalpath }}" alt="" height="159" class="img-polaroid" >
                    </div>  
                    
                    <div class="span8">
                        <div class="span4">
                            <p class="colorlabel"><strong>Catégorie : </strong> <span>{{ categorie.titre}}</span> </p>
                            <p class="colorlabel"><strong>Sous Catégorie : </strong><span> {{ souscat.titre}}</span></p>
                            <p class="colorlabel"><strong>Nom Produit : </strong><span> {{ produit.libelle}}</span></p>
                        </div>
                        <div class="span3">
                            <p class="colorlabel"><strong>Stock : </strong><span> {{ produit.stock }}</span></p>
                            <p class="colorlabel"><strong>Prix : </strong><span> {{ produit.prix}}</span></p>
                            <p class="colorlabel"><strong>Remise : </strong><span> {{ produit.remise}}</span></p>
                        </div>
                        <div class="span7">
                            <hr>
                             <p class="colorlabel"><strong>Description : </strong> <span> {{ produit.description}}</span></p>
                        </div>
                    </div>
          </div>       
        </div>
   </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}