{% extends "/layout/admin-layout.twig" %}

{% block title %} {{parent()}} - login administrateur{% endblock title %}

{% block container %}

        {% block content %}
        <div class="well span8 offset2">
            <div class="span7">
                <div class="row">
                    <ul class="nav nav-pills" style="border-bottom: 1px solid #cccccc">
                        <li class="pull-left"><h4>{{personne.nom}} {{ personne.prenom}}</h4></li>
                        {%if commercant.enable == 0 %}
                            <li class="pull-right"><a href="/admin/admin/activer/{{personne.idpersonne}}">Activer</a></li>
                        {%else%}
                         <li class="pull-right"><a href="/admin/admin/desactiver/{{personne.idpersonne}}">désactiver</a></li>
                        {%endif%}
                             
                        {%if commercant.paiement == 0 %}
                            <li class="pull-right"><a href="/paiement/paiement/activer/{{personne.idpersonne}}">Activer Paiement</a></li>
                    
                        {%endif%}     
                       
                    </ul>
                </div>
            </div>
            <h5 class="span7">Information Général</h5>
            <div class="span3">
                <p class="colorlabel"><strong>Nom : </strong> <span>{{ personne.nom}}</span> </label></p>
                <p class="colorlabel"><strong>Prénom : </strong> <span>{{ personne.prenom}}</span> </label></p>
                <p class="colorlabel"><strong>Login : </strong> <span>{{ personne.login}}</span> </label></p>
                <p class="colorlabel"><strong>Pays : </strong> <span>{{ personne.pays}}</span> </label></p>
            </div>
            <div class="span3">
                <p class="colorlabel"><strong>Ville : </strong> <span>{{ personne.ville}}</span> </label></p>
                <p class="colorlabel"><strong>Adresse : </strong> <span>{{ personne.adresse}}</span> </label></p>
                <p class="colorlabel"><strong>Téléphone : </strong> <span>{{ personne.tel}}</span> </label></p>
                <p class="colorlabel"><strong>Email : </strong> <span>{{ personne.email}}</span> </label></p>
            </div> 
            <h5 class="span7">Information Sur la société</h5>
            <div class="span3">
                <p class="colorlabel"><strong>Societe : </strong> <span>{{ commercant.societe}}</span> </label></p>
                <p class="colorlabel"><strong>Adresse Société : </strong> <span>{{ commercant.adrsoc}}</span> </label></p>
                <p class="colorlabel"><strong>Téléphone : </strong> <span>{{ commercant.telpro}}</span> </label></p> 
            </div> 
            <div class="span4">
                <p class="colorlabel"><strong>Fax : </strong> <span>{{ commercant.fax}}</span> </label></p>                    
                <p class="colorlabel"><strong>Site web : </strong> <span>{{ commercant.siteweb}}</span> </label></p>                    
            </div>
            <div class="span7">
                <p class="colorlabel"><strong>Description Société : </strong> <span>{{ commercant.descsoc}}</span> </label></p>
            </div>
        </div>
        {% endblock content %}
   
{% endblock container %}