{% extends "/layout/admin-layout.twig" %}

{% block title %} {{parent()}} - Statistique{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{{base_url()}}assets/css/tufte-graph.css" type="text/css" media="screen" charset="utf-8" />
{% endblock head %}
{% block container %}
    <div class="row">
        {% block content %}
            <div class="span12">
            <div class="well">
                {#---Logo---#}
                <div class="span3 offset4">
                    <a href=""><img src="{{base_url()}}assets/img/logo.png" alt="E-COMMERCE"/></a>
                </div>
                    <div class="row">
            <div class="span11">
                <h3 class="text-center">Statistique</h3>
                <hr>
                <div class="span6 offset2 well" style="background-color: rgb(250, 250, 250);box-shadow: 0px 0px 7px rgb(189, 186, 186);">
                <div id='awesome-graph' class='graph' style='width: 370px; height: 200px;'></div>
                </div>
            </div>
            </div>
            </div>
        {% endblock content %}
    </div> 
{% endblock container %}
            {% block js %}
 <script type="text/javascript" src="{{base_url()}}assets/js/raphael.js"></script>
    <script type="text/javascript" src="{{base_url()}}assets/js/jquery.enumerable.js"></script>
    <script type="text/javascript" src="{{base_url()}}assets/js/jquery.tufte-graph.js"></script>
   
     <script type="text/javascript">
     $(document).ready(function () {
        jQuery('#awesome-graph').tufteBar({
        data: [ 
          [{{nbnote1}}, {label: 'Note 1'}],
          [{{nbnote2}}, {label: 'Note 2'}],
          [{{nbnote3}}, {label: 'Note 3'}],
          [{{nbnote4}}, {label: 'Note 4'}],
           [{{nbnote5}}, {label: 'Note 5'}],
        ],
        barWidth: 0.4, 
        barLabel:  function(index) { 
          return $.tufteBar.formatNumber(this[0]) //+ 'x' 
        }, 
        axisLabel: function(index) { return this[1].label }, 
        color:     function(index) { 
          return ['rgb(117, 1, 6)', '#82293B'][index % 2] 
        },
        color:     function(index, stackedIndex) { 
          return ['rgb(117, 1, 6)', '#82293B'][stackedIndex % 2] 
        },
        colors: ['#82293B', 'rgb(117, 1, 6)', '#FFBE33'],
      });
});
    </script> 

{% endblock js %}
