{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Pannier{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Détails de votre carte </h4></li>
                </ul>
     {% if getsessionhelper() %}
                <div class="span8 offset2">
                    <ul id="breadcrumbs-one">
                        <li><span><strong>1.</strong> Votre Panier</span></li>
                        <li><span class="current"><strong>2.</strong> Résumé</span></li>
                        <li><span><strong>3.</strong> Adresse</span></li>
                        <li><span><strong>4.</strong> Frais de port</span></li>
                        <li><span><strong>5.</strong> Paiement</span></li>
                    </ul>
                </div>
                {% else %}
                      <div class="span10 offset1">
                    <ul id="breadcrumbs-one">
                        <li><span><strong>1.</strong> Votre panier</span></li>
                        <li><span class="current"><strong>2.</strong> Résumé</span></li>
                        <li><span><strong>3</strong> Identifiez vous</span></li>
                        <li><span><strong>4.</strong> Adresse</span></li>
                        <li><span><strong>5.</strong> Frais de port</span></li>
                        <li><span><strong>6.</strong> Paiement</span></li>
                    </ul>
                </div>  
                {% endif %}
                    <div class="span11"> <hr></div>
                {% if not shopping.content  %}
                <div class="alert alert-info">Vous n'avez rien commandez !</div>
                {% else %}  
                    <form action="/paiement/paiement/saveAdr" method="POST">
                    
                    <table class="table">           
                        <tr>
                            <th>photos</th>
                            <th>Nom Article</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Total</th>
                        </tr>          
                        {% set i = 1 %}     
                        {% for items in shopping.content %}
                        {#---hidden id---#}
                        <input type="hidden" name="rowid[]" value="{{items.rowid}}">
                        <tr>
                            <td><img src="{{items.options.path}}{{items.options.photo}}" class="img-polaroid" width="50" height="50"></td>
                            <td>{{items.name}}</td> 
                            <td>{{items.price}} </td>  
                            <td>{{items.qty}}</td>
                            <td>{{items.subtotal}} </td>      
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td>{{shopping.total}}</td>
                        </tr>
                    </table>
                         {% if getsessionhelper() %}
                        <div class="control-group pull-right">
                            <div class="controls">
                                <button type="submit" name="submit" class="btn pull-right btn-inverse">Suivant  <i class="icon-chevron-right icon-white"></i></button>
                            </div>
                        </div>
                         {% else %}
                 <a href="/inscription/login" class="btn pull-right btn-inverse">Suivant  <i class="icon-chevron-right icon-white"></i> </a></span>
                {% endif %}
                    
                </form>
                {% endif %}
           </div>
        </div>
         
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}
