{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Pannier{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Détails de votre carte </h4></li>
                </ul>
                {% if not shopping.content  %}
                <div class="alert alert-info">Vous n'avez rien commandez !</div>
                {% else %}  
                    <form action="/paiement/paiement/saveAdr" method="POST">
                    
                    <table class="table">           
                        <tr>
                            <th>photos</th>
                            <th>Nom Article</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Total</th>
                        </tr>          
                        {% set i = 1 %}     
                        {% for items in shopping.content %}
                        {#---hidden id---#}
                        <input type="hidden" name="rowid[]" value="{{items.rowid}}">
                        <tr>
                            <td><img src="{{items.options.path}}{{items.options.photo}}" class="span6 img-polaroid" height="50"></td>
                            <td>{{items.name}}</td> 
                            <td>{{items.price}} </td>  
                            <td><input type="text" name="qty[]" placeholder="Quantité"  value="{{items.qty}}"></td>
                            <td>{{items.subtotal}} </td>      
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td>{{shopping.total}}</td>
                        </tr>
                    </table>
                        {%if connect == 'yes'%}
                        <div class="control-group pull-right">
                            <div class="controls">
                                <button type="submit" name="submit" class="btn"><i class="icon-refresh"></i> Suivant</button>
                            </div>
                        </div>
                        {%else%}
                         <p class="text-left">Veuillez vous connectez</p>
              <span><a href="/inscription/login" class="btn btn-mini" >Se connecter</a></span>
              <p class="text-left"> Vous n'etes pas inscri ? </p>
               <span><a href="/inscription/inscription" class="btn btn-mini" >S'inscrire</a></span>
                        {%endif%}
                </form>
                {% endif %}
           </div>
        </div>
         
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}
