<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}E-commerce{% endblock title %}</title>
        <!--stylesheet-->
       	<link href="{{base_url()}}assets/css/style.css" rel="stylesheet" type="text/css"  />
       	<link href="{{base_url()}}assets/css/bootstrap.css" rel="stylesheet" type="text/css"  />
        <link href="{{base_url()}}assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
        
{% block head %} {% endblock head %}
    </head>
    <body>
        {#---Navigation Top---#}
        {% block nav%}
             <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-collapse collapse" id="main-menu">
                        {#---Navigator left---#}
                            <ul class="nav" id="main-menu-left">
                            <li><a href="/admin/admin/afficheComm">Gestion Commercant</a></li>
                            <li><a href="/admin/admin/afficheClient">Gestion Client</a></li>
                            <li><a href="/admin/admin/slider">Gestion Slider</a></li>
                          <li><a href="/admin/admin/statistique">Statistique</a></li>                       
                            </ul>
                        {% block login%}
                        {#---Navigator right---#}
                            <ul class="nav pull-right">
                                <li><a href="/admin/admin/logout"><i class="icon-off"></i> logout</a></li>
                            </ul>
                        {% endblock login %}
                        {% block message %}
                        {#---Navigator right---#}
                            <ul class="nav pull-right">
                             <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i id="clicknotifmsg" class="notifblackmsg" ></i> Messages<b class="caret"></b></a>
             <a href="/admin/admin/Getnotif"><i id="clicknotifaction" class="notifblack"></i></a>                             
                                    <ul class="dropdown-menu">
                                        <li><a href="/message/msgcommadmin/listmsgcomm">Messages Commerçant</a></li>
                                        <li><a href="/message/msgcommadmin/send">Envoyer Messages Commerçant</a></li>
                                    </ul>
                                </li>
                        </ul>
                        {% endblock message %}
                    </div>
                </div>
            </div>
        </nav>
        {% endblock nav%}
        {#---Header---#}
        <header class="page-header" ></header>
        
        {#---Container---#}    
        <section class="container">
            {% block container %}
                <div class="row">
                    {#---Content---#}
                        
                    {% block content %}{% endblock content %}  
                </div> 
            {% endblock container %}
        </section>
        
        {#---FOOTER---#}
        <div id="btn_up">
            <img alt="Retour en haut" title="Retour en haut" src="{{base_url()}}assets/img/up.png">
        </div>
        
        {#---SCRIPT---#} 
       <script src="{{base_url()}}assets/js/jquery-1.9.1.min.js"></script>
        {#---Notification---#} 
       <script src="{{base_url()}}assets/js/notifadmin.js"></script> 
       <script src="{{base_url()}}assets/js/bootstrap.js"></script>
            <script type="text/javascript" src="{{base_url()}}assets/js/raphael.js"></script>
    <script type="text/javascript" src="{{base_url()}}assets/js/jquery.enumerable.js"></script>
    <script type="text/javascript" src="{{base_url()}}assets/js/jquery.tufte-graph.js"></script>
    <link rel="stylesheet" href="{{base_url()}}assets/css/tufte-graph.css" type="text/css" media="screen" charset="utf-8" />
    
     <script>
     $(document).ready(function () {
        jQuery('#awesome-graph').tufteBar({
        data: [
          // First element is the y-value
          // Other elements are arbitary - they are not used by the lib
          // but are passed back into callback functions
          [{{nbclientinscri}}, {label: 'Client Inscrit'}],
          [{{nbcomminscri}}, {label: 'Commercant Inscrit'}],
          [{{nbclientconfirm}}, {label: 'Client confirmé'}],
          [{{nbcommconfirm}}, {label: 'Commercant confirmé'}],
           [{{nbcommenable}}, {label: 'Commercant Actif'}],
          // etc...

          // For stacked graphs, pass an array of non-cumulative y values
        //S  [[1.5, 1.0, 0.51], {label: '2005'}]
        ],

        // Any of the following properties can be either static values 
        // or a function that will be called for each data point. 
        // For functions, 'this' will be set to the current data element, 
        // just like jQuery's $.each

        // Bar width in arbitrary units, 1.0 means the bars will be snuggled
        // up next to each other
        barWidth: 0.4, 

        // The label on top of the bar - can contain HTML
        // formatNumber inserts commas as thousands separators in a number
        barLabel:  function(index) { 
          return $.tufteBar.formatNumber(this[0]) //+ 'x' 
        }, 

        // The label on the x-axis - can contain HTML
        axisLabel: function(index) { return this[1].label }, 

        // The color of the bar
        color:     function(index) { 
          return ['rgb(117, 1, 6)', '#82293B'][index % 2] 
        },

        // Stacked graphs also pass a stackedIndex parameter
        color:     function(index, stackedIndex) { 
          return ['rgb(117, 1, 6)', '#82293B'][stackedIndex % 2] 
        },

        // Alternatively, you can just override the default colors and keep
        // the built in color functions
        colors: ['#82293B', 'rgb(117, 1, 6)', '#FFBE33'],
     
        // Legend is optional
        // legend: {
        //   // Data can be an array of any type of object, but the default
        //   // formatter works with strings
        //   data: ["North", "East", "West"],

        //   // By default, the colors of the graph are used
        //   color: function(index) { 
        //     return ['#E57536', '#82293B'][index % 2] 
        //   },

        //   // You can customize the element label - can contain HTML
        //   label: function(index) { return this }
        // }
      });
});
    </script> 
    </body>
</html>