{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Gestion Produit{% endblock title %}

{% block head %}
    <link type="text/css" href="{{base_url()}}assets/css/fg.menu.css" media="screen" rel="stylesheet" />
{% endblock head %}


{% block container %}
    <div class="row">
        {% block menuVertical%}{% endblock menuVertical%}
        {% block content %}
            <div class="well span12">
               <div class="span11">
                  <div class="accordion" id="accordion2">
                     {% set i = 0%}
                     {%for msg in conv%}
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{i}}">
                                    {{msg.sujet}}
                                        <p class="pull-right">
                                        <i class="icon-user"></i> De <span class="colorlabel">{{msg.nom}}</span> 
                                        | <i class="icon-calendar"></i>{{msg.dateenvoi}}</p>
                                </a>
                            </div>
                            <div id="collapse{{i}}" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    {{msg.contenu}}
                                </div>
                            </div>
                        </div>
                        {% set i = i+1%}
                        {%endfor%}
                      </div>
                </div>
            </div>
        {% endblock content %}
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
{% endblock container %}

{% block js %} 
{#---Menu Vertical---#}
<script type="text/javascript" src="{{base_url()}}assets/js/fg.menu.js"></script>
<script type="text/javascript">    
    $(function(){
        $('.fg-button').hover(
        function(){ $(this).removeClass('ui-state-default').addClass('ui-state-focus'); },
        function(){ $(this).removeClass('ui-state-focus').addClass('ui-state-default'); }
    );
        $('#hierarchybreadcrumb').menu({content: $('#hierarchybreadcrumb').next().html(), backLink: false});	
    });
    </script>
 {% endblock js %} 