{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Modifier Profil{% endblock title %}

{% block head %}
<link type="text/css" href="{{base_url()}}assets/css/fg.menu.css" media="screen" rel="stylesheet" />
{% endblock head %}


{% block container %}
<div class="row">
        {% block menuVertical%}{% endblock menuVertical%}
        {% block content %}
        <div class="span12">
            <div class="well">
                <form action="/inscription/gestionprofil/updateprofilcomm" method="POST" class="form-horizontal">
                    <fieldset>
                        <legend>Modifier profil</legend>
                         <div class="control-group">
                            <div class="login offset4">
                                {{ form_error('callback') }}  
                            </div>
                         </div>
                            {#---Nom---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="nom">Nom <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="nom" for="nom" placeholder="Votre Nom" class="input-xlarge" value="{{ nom }}" required="required">
                                    <div class="error">
                                        {{ form_error('nom') }}         
                                        </div>
                                    </div>
                                </div>

                            {#---Prénom---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="prenom" >Prénom <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="prenom" placeholder="Votre Prénom" class="input-xlarge" value="{{ prenom }}" required="required">
                                    <div class="error">
                                        {{ form_error('prenom') }}         
                                    </div>
                                </div>
                            </div>

                            {#---Email---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="email">E-mail <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="email" name="email" placeholder="Votre E-mail" class="input-xlarge" value="{{ email }}" required="required">
                                    <div class="error">
                                          {{ form_error('email') }}         
                                     </div>
                                </div>
                            </div>

                            {#---Login---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="login">Login <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="login" placeholder="Votre Nom d'utilisateur" class="input-xlarge" value="{{ login }}" required="required">
                                    <div class="error">
                                        {{ form_error('login') }} 
                                    </div>
                                </div>
                           </div>
                        
                            {#---Societe---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="societe">Société <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="societe" placeholder="Votre Adresse" class="input-xlarge" value="{{ societe }}" required="required">
                                    <div class="error">
                                        {{ form_error('societe') }}         
                                    </div>
                                </div>
                            </div>
                        
                            {#---Adressse---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="adresse">Adresse <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="adresse" placeholder="Votre Adresse" class="input-xlarge" value="{{ adresse }}" required="required">
                                    <div class="error">
                                        {{ form_error('adresse') }}         
                                    </div>
                                </div>
                           </div>

                            {#---Pays---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="pays">Pays <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="pays" placeholder="Votre Adresse" class="input-xlarge" value="{{ pays}}"  required="required">
                                    <div class="error">
                                        {{ form_error('pays') }}         
                                    </div>
                                </div>
                            </div>

                            {#---ville---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="ville">Ville <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="ville" placeholder="Votre Adresse" class="input-xlarge" value="{{ ville }}" required="required">
                                    <div class="error">
                                        {{ form_error('ville') }}         
                                    </div>
                                </div>
                            </div>

                            {#---Télephone---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="tel">Numéro téléphone <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="tel" placeholder="Votre Numéro De Téléphone" class="input-xlarge" value="{{ tel }}" required="required">
                                    <div class="error">
                                        {{ form_error('tel') }}         
                                    </div>
                                </div>
                            </div>
                            {#---Adresse Société---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="adrsoc">Adresse Société <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="adrsoc" placeholder="Adresse de la societe" class="input-xlarge" value="{{ adrsoc }}" required="required">
                                    <div class="error">
                                         {{ form_error('adrsoc') }}         
                                    </div>
                                 </div>
                            </div>
                            {#---Description Société---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="descsoc">Description Société <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="descsoc" placeholder="Description de la societe" class="input-xlarge" value="{{ descsoc }}" required="required">
                                    <div class="error">
                                        {{ form_error('descsoc') }}         
                                    </div>
                                </div>
                            </div>
                            {#---Site web---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="siteweb">Site Web <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="siteweb" placeholder="site web" class="input-xlarge" value="{{ siteweb }}" required="required">
                                    <div class="error">
                                        {{ form_error('siteweb') }}         
                                    </div>
                                </div>
                            </div>
                            {#---Télephone professionnel---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="telpro">Numéro téléphone société<span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="telpro" placeholder=" Numéro De Téléphone Professionnel" class="input-xlarge" value="{{ telpro }}" required="required">
                                    <div class="error">
                                        {{ form_error('telpro') }}         
                                    </div>
                                </div>
                            </div>
                            {#---Fax---#}
                            <div class="control-group offset2">
                                <label class="control-label" for="fax"> Fax société<span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" name="fax" placeholder=" Fax" class="input-xlarge" value="{{ fax }}" required="required">
                                    <div class="error">
                                         {{ form_error('fax') }}         
                                    </div>
                                </div>
                            </div>

                            {#---Valider---#}
                            <div class="control-group offset2">
                                <div class="controls">
                                    <button type="submit" name="submit" class="btn btn-info">Valider</button>
                                    <button type="reset" name="annuler" class="btn btn-info">Annuler</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        {% endblock content %}
        </div>
        {% block partenaires %} {{parent()}} {% endblock partenaires %}
{% endblock container %}
