{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Profil{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Votre Profil</h4></li>
                    <li class="pull-right"><a href="/annonce/annonce">Gestion des annonces</a></li>
                    <li class="pull-right"><a href="/produit/produit">Gestion des produits</a></li> 
                    <li class="pull-right"><a href="/produit/produit/slider">Gestion Slider</a></li> 
                    <li class="pull-right"><a href="/statistique/Statistique/statcomm">Statistique</a></li> 
               {%if (commercant.paiement == 0) and (commercant.dempaiement == 0) %}
            <li class="pull-right"><a href="/paiement/paiement/DemActivePay/{{getsessionhelper()['id']}}">Demande activation de paiement</a></li> 
                  {%elseif commercant.paiement == 0 %}
             <li class="pull-right"><a href="#">Demande activation en cour de traitement</a></li> 
               {%else %}    
             <li class="pull-right"><a href="#">Gestion Paiement</a></li> 
                    {%endif%}
                </ul>
                <div class="span4">
                    <p class="colorlabel"><strong>Nom : </strong> <span>{{ personne.nom}}</span> </label></p>
                    <p class="colorlabel"><strong>Prénom : </strong> <span>{{ personne.prenom}}</span> </label></p>
                    <p class="colorlabel"><strong>Login : </strong> <span>{{ personne.login}}</span> </label></p>
                    <p class="colorlabel"><strong>Pays : </strong> <span>{{ personne.pays}}</span> </label></p>
               </div>  
                <div class="span4">
                    <p class="colorlabel"><strong>Ville : </strong> <span>{{ personne.ville}}</span> </label></p>
                    <p class="colorlabel"><strong>Adresse : </strong> <span>{{ personne.adresse}}</span> </label></p>
                    <p class="colorlabel"><strong>Téléphone : </strong> <span>{{ personne.tel}}</span> </label></p>
                    <p class="colorlabel"><strong>Email : </strong> <span>{{ personne.email}}</span> </label></p>
                </div> 
                <div class="span11">
                        <ul class="nav nav-pills border">
                            <li class="pull-left"><h4>Information sur votre société</h4></li>
                       </ul>
                </div>
                <div class="span4">
                    <p class="colorlabel"><strong>Societe : </strong> <span>{{ commercant.societe}}</span> </label></p>
                    <p class="colorlabel"><strong>Adresse Société : </strong> <span>{{ commercant.adrsoc}}</span> </label></p>
                    <p class="colorlabel"><strong>Téléphone : </strong> <span>{{ commercant.telpro}}</span> </label></p>
                </div>
                <div class="span4">
                    <p class="colorlabel"><strong>Fax : </strong> <span>{{ commercant.fax}}</span> </label></p>                    
                    <p class="colorlabel"><strong>Site web : </strong> <span>{{ commercant.siteweb}}</span> </label></p>                    
                </div>
                <div class="span11"> 
                    <p class="colorlabel"><strong>Description Société : </strong> <span>{{ commercant.descsoc}}</span> </label></p>
                </div>
            </div>
        </div>
         
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}
