{% extends "/layout/admin-layout.twig" %}

{% block title %} {{parent()}} - Espace Administrateur{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h3>Espace Administrateur</h3></li>
                </ul>
                    <ul class="nav nav-pills" style="border-bottom: 1px solid #cccccc">
                        <li class="pull-left"><h4>Paiement Activé</h4></li>
                   </ul>
                         <div>
                    {%for var in res%}
                       <ul >
                         <li>{{var.nom}} </li>
                          <li>{{var.prenom}} </li>
                         <li>{{var.societe}} </li>
            <li><a href="/paiement/paiement/desactiver/{{var.idcommercant}}">Désactiver</a></li>                                              
                    </ul> 
                            
                            
                        {%endfor%}
                    
                    <p>
                    
                    </div> 
                    
                   
            </div>       
        </div>
   </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}