
{% extends "/layout/admin-layout.twig" %}

{% block title %} {{parent()}} - Espace Administrateur{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well" style="min-height: 585px">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h3>Espace Administrateur</h3></li>
                </ul>
                {#---Logo---#}
                <div class="span3 offset4">
                    <a href=""><img src="{{base_url()}}assets/img/logo.png" alt="E-COMMERCE"/></a>
                </div>
                    <div>
                        <p>affiche signal</p>
                    {%for var in req%}
                       <p>
                            <li>{{var.titre}} </li>
                            <li>{{var.description}} </li>
                            <li>{{var.dateenvoi}} </li>
                        {%if var.vue == 1%}
                                <li>Vue</li>
                           {%else%}
                    {%if var.type == 'produit'%}
                    <!-- lien vers la page details pour enbbled or desabled le comm  en question -->
                     <a href="/admin/admin/viewproduct/{{var.produit_idproduit}}/{{var.idsignaler}}"><li>Produit</li></a>                                    
            
                     {%elseif var.type == 'avis' %}
                    <a href="/admin/admin/getAvis/{{var.commentaire_idcommentaire}}/{{var.idsignaler}}"><li>Avis</li></a>                                   
                   
                     {%elseif var.type == 'forum' %}
                 <a href="/admin/admin/getMsgForum/{{var.Msgforum_idMsgforum}}/{{var.idsignaler}}"><li>Forum</li></a>                                   
{%endif%}
</p>  

{%endif%}
                    
                      
                            
                            
                            {%endfor%}
                    
                    
                    
                    </div>
           </div>       
        </div>
   </div>
    {% endblock content %}
